.site-bn-bar{
    background: #fa7;
    width: 100%;
    background-image: url(../img/header/cms_15352792143493_SGgln.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
}
.site-bn-bar-link{
    display: block;
    height: 120px;
    width: 100%;
}
.site-topbar{
    height: 40px;
    background: #af4;
}
.site-header{
    height: 100px;
    background: #4af;
}
.site-header{
    height: 100px;
    background: #4af;
}