@charset "UTF-8";
/*添加公共样式*/
/*内容、版心 提取 */
body { font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; color: #333; background-color: #fff; min-width: 1226px; }

.container { width: 1226px; margin: 0 auto; padding: 0; }

.fl { float: left; }

.fr { float: right; }

.ac { text-align: center; }

.hide { display: none; }

.show { display: block; }

.f12 { font-size: 12px; }

.clearfix::after { content: ""; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; zoom: 1; }

.highcolor { color: #FFA500; }
